<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>🚀 I'm Jiayue (Josie) Zhang, a passionate software engineer with a relentless curiosity for all things tech. I've spent years in the digital trenches, sculpting lines of code into powerful solutions that make life simpler and more efficient.</p>
      </div>
      <div class="col-lg-4">
        <p>📚 I am a lifelong Learner: The tech world never stops evolving, and neither do I. I'm dedicated to lifelong learning and staying at the forefront of emerging technologies. My blog is where I share insights, tutorials, and my thoughts on the latest trends. </p>
      </div>       
      <div class="col-lg-8 col-lg-offset-2 text-center">
        
      </div>
    </div>
  </div>
</section>
